@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
    
}



header {
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;

    padding: 10px 200px ;
}

.logo{
    text-decoration: none;
    color: #3a6cf4;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.9em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.logo:hover{
    color: #222259;
}

.navigation a{
    color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}

.navigation a:hover{
    color: #222259;
}

section {
    padding: 100px 200px;
}


.main {
    width: 100%;
    min-height: 100vh;
    background-color: #000016;
    display: flex;
    align-items: center;
    /* background-size: cover;
    background-position: center;
    background-attachment: fixed; */
}

.main_div{
    position: relative; left: 190px
}

.main h2 {
    color: #fff;
    font-size: 1.4em;
    font-weight: 500;
}

.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: #4e9eff;
    font-size: 3em;
    font-weight: 600;
}

.main h3 {
    color: #fff;
    
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn {
    color: #fff;
    background-color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.main-btn:hover {
    background-color: #0a49f6;
    transform: scale(1.1);
}

.social-icons a {
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;
}

.title {
    display: flex;
    justify-content: center;
    color: #3a6cf4;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    
}



.card {
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
    
}

.card .info a {
    text-decoration-line: none;
    font-weight: 900;
    color: #fff;
    background-color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    border-radius: 50px;

}

.card:hover {
    transform: scale(1.1);
    background-color: #00001640;

}

.card .icon {
    color: #3a6cf4;
    font-size: 8em;
    text-align: center;
    
}


.info {
    text-align: center;
}

.info h3{
    color: #3a6cf4;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.info a {
    color: #3a6cf4;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}


.more-details {
    text-decoration: none;
    color: #3a6cf4;
    
}

.more-details:hover {
    color: #601cfc;
}

.contact .icon{
    font-size: 4.5em;
}

.contact .info h3 {
    color: #000;
}

.contact .info p {
    font-size: 1.5em;
}

.footer {
    background-color: #000016;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    text-align: center;
    font-size: 2.3em;
    font-weight: 600;
    position: relative;
    left: 300px;
    top: 7px;

}

.footer-title span {
    color: #3a6cf4;
}

.footer .social-icons a{
    font-size: 1.5em;
    padding: 0 12px 0 0;
    position: relative;
    left: -300px;
    top: 10px;
}

@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }

    .navigation a{
        padding-left: 10px;
    }

    .title{
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }

    .main-content h2{
        font-size: 1em;
    }

    .main-content h3{
        font-size: 1.6em;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width:641px){
    body{
        font-size: 12px;
    }

    .main-content h2{
        font-size: 0.8em;
    }

    .main-content h3{
        font-size: 1.4em;
    }
}

@media (max-width:300px){
    body{
        font-size: 10px;
     
    }
}



/* الاسئلة */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

.quiz-container{
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
  width: 600px;
  overflow: hidden;
  position: relative;
  left: 450px;
  top: 200px;
  
}
.quiz-header{
  padding: 4rem;
}
h2{
  padding: 1rem;
  text-align: center;
  margin: 0;
}
ul{
  list-style-type: none;
  padding: 0;
}
ul li{
  font-size: 1.2rem;
  margin: 1rem 0;
}
ul li label{
  cursor: pointer;
}

#start_quiz{
    position: relative;
  left: 400px;
  top: 100px;
}

#submit{
  background-color: #3a6cf4;
  color: #fff;
  border: none;
  display: block;
  width: 100%;
  cursor: pointer;
  font-size: 1.1rem;
  font-family: inherit;
  padding: 1.3rem;
}
#submit:hover{
  background-color: #3351a4;
}

#start_quiz{
    text-decoration: none;
    color: #fff;
    background-color: #3a6cf4;
    text-decoration: none;
    font-size: 2.1em;
    font-weight: 600;
    padding: 0.9375em 2.1875em;

    border-radius: 50px;
    transition: 0.3s ease;
    position: relative;
    left: 170px;
    top: 50px;
    box-sizing: border-box;



}


#start_quiz:hover{
    color: rgb(58, 56, 56);
}

#h2q{

    border: #003ee8 solid;
    /* border-radius: 50px; */
    color: #000000;
    font-weight: 500;
    transition: 0.7s ease;


}

#h2q:hover{
    background-color: #7a95df4a;
}

#cont{
    
    align-items: center;
    background-color: #ffffff4d;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
    width: 600px;
    height: 500px;
    overflow: hidden;
    position: relative;
    left: 400px;
    top: 100px;
    
}











.photoenetr{
    align-items: center;
    background-color: #ffffff4d;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
    width: 600px;
    height: 500px;
    overflow: hidden;
    position: relative;
    left: 400px;
    top: 100px;

    
}

.submit {
    width:100px;
    height:50px;
    position: relative;
    left: -200px;
    top:280px;
    font-family: var(--font);
    color: #3b82f6;
    font-weight: 600;
    background-color: #fff;
    border: none;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    transition: all ease 100ms;
    border: #504f4f solid;
  }
  
.submit:hover {
    background-color: #cbdcf8;
  }


.ST{
    align-items: center;
    background-color: #ffffff4d;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
    width: 600px;
    height: 500px;
    overflow: hidden;
    position: relative;
    left: -500px;
    top: 150px;
}
  
#tb {
    color: #fff;
    background-color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
    position: relative;
    left: -160px;
    top: 20px;
    p{
        font-size: 10px;
    }
}


.drop-container {
    position: relative;
    left: 70px;
    top:200px;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

    border-radius: 10px;

    height: 100px;
    border: 3px dashed #3a6cf4;
    color: #444444;
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;
  }
  
.drop-container:hover {
    background: #eee;
    border-color: #111;
  }
  
  .drop-container:hover .drop-title {
    color: #222;
    padding: 0px;
  }
  
  .drop-title {
    color: #444;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: color .2s ease-in-out;
  }



.request_list{
    align-items: center;
    text-align: center;
    background-color: #ffffff4d;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
    width: 600px;
    height: 300px;
    overflow: hidden;
    position: relative;
    left: 400px;
    top: 100px;
}

  #ordersList {
    list-style-type: none;
    padding: 0;
  }
  
  #ordersList li {
    background-color: #f2f2f2;
    margin: 5px;
    padding: 10px;
    border: 1px solid #ddd;
  }
  









#span1{
    color: red;
    text-align:right; 
    padding: 130px;
}  




@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');


.container{
  height: 400px;
  width: 450px;
  position: relative;
  left: 500px;
  top: 200px;
}
.container .wrapper{
  position: relative;
  height: 300px;
  width: 100%;
  border-radius: 10px;
  background: #fff;
  border: 2px dashed #c2cdda;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.wrapper.active{
  border: none;
}
.wrapper .image{
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.wrapper .icon{
  font-size: 100px;
  color: #3a6cf4;
}
.wrapper .text{
  font-size: 20px;
  font-weight: 500;
  color: #5B5B7B;
}
.wrapper #cancel-btn i{
  position: absolute;
  font-size: 20px;
  right: 15px;
  top: 15px;
  color: #9658fe;
  cursor: pointer;
  display: none;
}
.wrapper.active:hover #cancel-btn i{
  display: block;
}
.wrapper #cancel-btn i:hover{
  color: #e74c3c;
}
.wrapper .file-name{
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 8px 0;
  font-size: 18px;
  color: #fff;
  display: none;
  background: linear-gradient(135deg,#3a8ffe 0%,#9658fe 100%);
}
.wrapper.active:hover .file-name{
  display: block;
}
.container #custom-btn{
  margin-top: 30px;
  display: block;
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 25px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  background: linear-gradient(135deg,#3a8ffe 0%,#9658fe 100%);
}